body {
  font-family: Arial, sans-serif;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.5;
  background-color: #f2edf4;
}

img[alt="MBF Brangan Project Logo"] {
  width: 35%;   /* adjust size */
  height: auto;
  display: block;
  margin-bottom: 20px;
}


a {
  color: #5526e3;
  text-decoration: none;
  transition: 0.2s ease;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #3d1db8;
}


h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  font-size: 20px;
}

/* li breathing room */
li {
   margin:0 0 5px 0;   
}


ol li p {
  margin: 4px 0 20px 0;
  line-height: 1.9em;
}




.item-table th {
  background-color: #5526e3;
  color: white;
  font-weight: normal;
}

.tablinks {
  background-color: #f3ebf5;
  border: 1px solid #ccc;
  padding: 8px 14px;
  cursor: pointer;
}

.tablinks.active {
  background-color: #5526e3;
  color: white;
}


table.item-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

table.display-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    text-align: left;
    width: 75%;
}

.item-table td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 10px;
}

.item-table tr:nth-child(even) {
    background-color: #f3ebf5;
}

/*.edit-table tr:nth-child(even) {
    background-color: #dddddd;
}*/

/* box for menus and listings */

.simplebox,
.textbox {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.simplebox {
  width: 600px;
  padding: 10px;
  margin: 10px;
}

/* box for text */
.textbox {
  padding: 10px;
  margin: 10px;
}



/* ---------- ENTITY BOX TABS ---------- */

.tab {
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #f3ebf5;
  border-radius: 6px 6px 0 0;
}

.tab button {
  background-color: transparent;
  float: left;
  border: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.2s ease;
  font-size: 15px;
  color: #333;
}

.tab button:hover {
  background-color: #e8ddf2;
}

.tab button.active {
  background-color: #5526e3;
  color: white;
}

/* Tab content box */

.tabcontent {
  display: none;
  padding: 16px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px;
}
